* {
    margin: auto;
    padding: 0;
}

.button {
    background-color: rgb(83, 83, 252);
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

}

nav {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin: 20px;


}

ul {
    display: flex;
    list-style: none;
    gap: 10px;

}

a {
    text-decoration: none;
    color: rgb(134, 134, 134);
}

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;



}

.bg-text {
    color: white;
    text-align: center;
    display: grid;
    gap: 20px;

}



.bg-text button {
    width: 20%;
    margin-left: 40%;
    margin-top: 30%;
    cursor: pointer;

}

.bg-text p {
    margin-top: 60px;
}

.bg-text h1 {
    margin-top: 20px;
}

/* speaker section */
.speaker {
    width: 80%;
    margin: 220px auto;
    padding: 60px 0;


}

.speaker h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
}


.speakers-container {
    display: flex;
    flex-wrap: wrap;


    justify-content: center;
    gap: 10px;

}

.speakers-container img {
    width: 100%;
    border-radius: 8px;
    display: block;


}

.card {
    width: 45%;
}

.title {
    font-size: 10px;
    color: rgb(83, 83, 252);

    margin: 8px 0;
}

.workplace {
    font-size: 10px;
    color: dimgray;
    margin-top: 5px;
}